<nb-card size="medium">

    <nb-card-body>
      <div class="picture" style.background-image="url('./assets/images/kate.png')"></div>
      <div class="details">
        <div class="title">
          React Native UI Kitten
        </div>
        <div class="description">
          React Native UI Kitten is a framework that contains a set of commonly used UI components styled in a similar way. The most awesome thing: you can change themes on the fly by just passing a different set of variables. 100% native. Give our kitten a try!
        </div>
      </div>
    </nb-card-body>
  
    <nb-card-footer>
      <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
        <i class="ion-social-github"></i>
      </a>
    </nb-card-footer>
    
  </nb-card>
  

<!-- **ngFor="let project of projects"  -->

<p>
  {{JSON.stringify(this.projects)}}
</p>
