<ul class="timeline">
  <li>
    <div class="timeline-badge"></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">IoT Engineer, Laboratory Manager</h4>
        <p><small> 2016 till now <br> Hamad Bin Khalifa University – HBKU <br> College of Science & Engineering,
            Division of Information & Computing Technology</small></p>
      </div>
      <div class="timeline-body">
        <div>
          <img class="card-img-top mainPict" src="assets/cv_assets/employerSchool/hbku.png" alt="esstin">
        </div>
        <br>
        <ul>
          <li>Participate and lead on the <strong> technical implementation of multiple projects</strong>. I have had
            the occasion to work on embedded systems, RF communications, Full-Stack development, digital system design<br /><br /></li>
          <li><strong>Setting-up of an electronic laboratory (for the first6 months)&nbsp;</strong> for the division of
            <strong> Information &amp; Computing Technology (ICT)</strong><br /><br /></li>
          <li><strong>Create and teach several sets of laboratories for the Digital Systems Design course </strong> ,
            which taught me another set of skills: human communications.</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
      <div class="timeline-badge warning"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Embedded Systems Engineer </h4>
          <p><small> 2014 - 2016 <br> Lorraine Research Laboratory in Computer Science and its Applications – LORIA <br>
              INRIA, CNRS, Université de Lorraine.
            </small></p>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
            paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros 
            nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus
            scelerisque augue. Aenean justo massa.</p>
        </div>
      </div>
  </li>
  <li>
    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra
          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa
          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra
          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa
          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra
          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa
          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        <hr>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra
          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa
          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris,
          paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra
          quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa
          nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
      </div>
    </div>
  </li>
</ul>
